{
  "cas_baseurl": "https://cas.shitac.net/tpass/login?service=",
  /* requests or selenium, PLEASE DELETE THE COMMENT! */
  "cas_login_method": "requests",
  /* js2py or nodejs, PLEASE DELETE THE COMMENT! */
  "des_trans_mode": "nodejs",
  "pan_sso_service":  "https://pan.shitac.net/sso",
  "pan_host": "pan.shitac.net",
  "username": "CAS_ID",
  "password": "CAS_PASSWORD",
  "cas_cookie_path": "./SITC-Cas.json",
  "pan_baseurl": "https://pan.shitac.net:443/api/v1",
  "mysql_host": "mysql_host",
  "mysql_port": 3306,
  "mysql_username": "mysql_username",
  "mysql_password": "mysql_password",
  /* development or production, PLEASE DELETE THE COMMENT! */
  "server_env": "development",
  "wechat_webhook_service": "http://127.0.0.1:5000",
  "use_customize_chromedriver": true,
  "chromedriver_path": "C:\\Users\\Skyler\\AppData\\Local\\chromedriver-win64\\chromedriver.exe",
  "refresh_token_exp_sec": 1800,
  "access_token_exp_sec": 180
}