{
    "length": 8,
    "include_letters": true,
    "include_digits": true,
    "include_special_chars": false,
    "refresh_sec": 60,
    "internal_networks": ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"],
    "internal_access_check": false
}